*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}
body{

    height: 700px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: black;
}
.container{
    color: black;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem;
    
}
.container>form>div{
    margin: 1rem;
    font-size: larger;
}
input{
    font-size: medium;
    border:none;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px black;
}
a{
    color: black;
    text-decoration: none;
    margin: 2rem;
}
a:hover{
    color: darkgoldenrod;
    text-decoration:underline;
}
button{
    color: white;
    border: none;
    background-color: black;
    padding: 1rem;
    border-radius: 5px;
}