body{
    background-image: url(https://i.ibb.co/Sv8sZ0W/Dise-o-sin-t-tulo-2.png);
    background-repeat: no-repeat;
}
body::before{
    background: rgba(3, 3, 3, 0.144);
    background-color: aqua;
}
a{
    text-decoration: none;
    color: black;
}
.tarea1{
    background-image: linear-gradient(270deg, #b8e0ff 0, #82a4ff 50%, #526ba6 100%);
    position: fixed;
	top: 25%;
	bottom: 0;
	left: 37%;
	right: 0;
    width: 400px;
    height: 400px;
    align-items: center;
	justify-content: center;
    display: flex;
    border-radius: 20px;
}
.botn{
    cursor: pointer;
    border: solid 2px gray;
    background: rgb(3, 3, 3);
    color: #ffffff;
    display: flex ;
    width: 80px;
    height: 30px;
    margin: 10px;
    font-size: 15px;   
    align-items: center; 
}
.btn-secondary{
margin: 10px;
width: 300px;
color: white;
background-color: rgba(4, 0, 255, 0.788);
border: none;
border-radius:10px ;
cursor: pointer;

}
.btn{
   text-decoration: none;
}
.field{
    width: 350px;
    height: 35px;
}
#pie{
    margin-top: 53rem;
    padding: 10px;
    padding-bottom: 24px;
    text-align: center;
    color: white;
}
