body{
    background-image: url(img/tiendas-de-autoservicio.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;

}
.container{
    display: flex;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
    width: 250px;
    position: absolute;
    padding: 30px;    
}

.boton{
    margin: auto;
    border-radius: 10px;
    position: relative;
    padding: 8px;
    border: 2px solid rgb(129, 129, 199);
    background-color: rgb(190, 190, 230);
    text-decoration: none;
    color: black;
}


