:root {
  --Caveat: "Caveat", cursive;
  --OpenSans: "Open Sans", sans-serif;
  --chinese:"chinese"
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    margin-top: 10%;
  }
    .form-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
      form {
        width: 100%;
      }
        .product{
          padding-top: 30px;
        }
          .form-container .product p{
            font-size: 11pt;
            font-family: var(--OpenSans);
            font-weight: 600;
            padding-bottom: 15px;
          }
          .form-container input[type="text"], input[type="number"]{
              display: block;
              font-family: var(--OpenSans);
              background-color: whitesmoke;
              width: 100%;
              border: none;
              border-radius: 5px;
              font-size: 10pt;
              padding: 10px;
              font-weight: 600;
              margin-bottom: 12px;
              color: #191919;
              transition: all 0.7s;
          }
          .form-container form input:hover{
            outline: none;
            background-color: #4a4a4a;
            color: #FFFFFF;
          }
          .form-container form input:focus{
            outline: none;
            background-color: #797979;
            color: #FFFFFF;
          }
          input[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 11pt;
            font-weight: 800;
            border-radius: 5px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.1);
            cursor: pointer;
            transition: background-color 0.5s ease;
            font-family: var(--Caveat);
          }
          .form-container input[type=number]::-webkit-inner-spin-button, 
          .form-container input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }  
          .form-container input[type=number] {-moz-appearance:textfield; }
          .center-content input[type="submit"]:hover {
            background-color: #3e8e41;
            transition: all .5s ease;
          }
      .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
        padding-top: 15px;
      }
        a.boton {
          background-color: whitesmoke;
          font-size: 11pt;
          font-weight: 800;
          color: #191919;
          padding: 10px 20px;
          border-radius: 5px;
          text-decoration: none;
          transition: background-color .5s ease;
          font-family: var(--Caveat);
        }
        a.boton:hover {
          transition: all .5s ease;
          background-color: #4a4a4a;
          color: whitesmoke;
        }
        .buttons {
          display: flex;
          justify-content: center;
        }