@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1f2029;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'san-serif';
    font-weight: 600;
    padding-top: 10%;
}

.icon{
    position: absolute;
    top: 10%;
    left: 5%;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    color: #ffeba7;
    background-color: black;
    box-shadow: 0px 0px 10px 5px black;
    cursor: pointer;
    cursor: poiner;
    border-radius: 40px;
}

table{
    background: #1f2029;
    color: #ffeba7;
    box-shadow: 0px 0px 20px 1px black;
    padding: 20px;
    text-align: center;
    border: 1px solid #ffeba7;
}

table th, td{
    border: 1px solid #ffeba7;
    padding: 10px;
}
